doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content=keywords || 'QiaTia,技术网站,QiaTia`小窝,web博客,ACG交流,前端博客,php技术,资源共享')
    meta(name="description" content= description ||'QiaTia,技术网站,QiaTia`小窝,web博客,ACG交流,前端博客,php技术,资源共享')
    title= title||"QiaTia`小站"
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(href='/style/style.css' rel="stylesheet")
  body
    block content
