doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title= title||"这是标题呢"
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(href='/style/style.css' rel="stylesheet")
  body
    block content
